@font-face {font-family:Steinem Unicode;src:url("fonts/STEINEMU.eot?") format("eot"),url("fonts/STEINEMU.woff") format("woff"),url("fonts/STEINEMU.ttf") format("truetype"),url("fonts/STEINEMU.svg#SteinemUnicode") format("svg");font-weight:normal;font-style:normal;}

html,body {
    background: #F1F1F1;
    height: 100%;
}

.navbar {}

.category {}

.thumbnail {}

.rate-box {}

.comments {}

.comment-meta {
    background: #EEEEEE;
    border: solid 1px #d6d6d6;
}

.comment-body {

}

#idea-rating {
}

.comment-counter {
    text-align: center;
    cursor:pointer;
    margin-top:5%;
    background:#F5F5DC;
    font-size:1.5em;
    border-radius:10px;
}

#comment-reply {
    margin-bottom:1%;
    font-size:0.8em;
    height:1.8em;
    width:10%;
    border:none;
    border-radius:10px;
    background:#72bb53;
    color:white;
}

@media screen and (min-width:900px) {
    
    .navbar {
	margin-top: 1%;
	width: 60%;
	left: 20%;
	background: white;
    }

    .category {
	margin-left: 20%;
    }

    .thumbnail {
	width:60%;
	margin-left:20%;
	background: white;
    }

    .comments {

    }

    .modal-dialog {
	width: 900px;
    }
}

@media screen and (min-width:1280px){
    
    .comments {
	width:70%;
    }

    .comment-counter-lg {
	width:70%;
    }
    
    #id_author {
	height:2em;
	width:30%;
    }

    #id_author_form {
	margin-left:20%;
	margin-top:3%;
    }
    
    #id_content {
	margin-left:5%;
	margin-top:1%;
	width:70%;
    }

    #submit-btn  {
	margin-left:60%;
	margin-top:1%;
	margin-bottom:4%;
	font-size:1.5em;
	height:2em;
	width: 15%;
	border:none;
	border-radius:10px;
	color:white;
	background:#92d36e;
    }
}