{% extends "base.html" %}

{% load simple_rate %}
{% load i18n %}
{% load static %}

{% with object as idea %}

{% block css %}
<link href="{% static 'css/detail.css' %}" rel="stylesheet" type="text/css">
{% endblock css %}

{% block content %}
  
<div class="thumbnail">
  <h3 style="text-align:center;font-family:Steinem Unicode;font-size:3em">{{ idea.title }}</h3>

  <div class="row" style="margin-top:2%">
    <div class="col-lg-2">
    </div>
    <div class="col-lg-8">
      <p style="font-size:1.2em"><t style="color:#c0c0c0">{% trans "Published on" %} {{ idea.created }}</t> <t color="black">by</t> <a href="">{{ idea.author }}</a></p>
      <p style="font-size:1.2em;margin-top:-1%"><t style="color:#c0c0c0">{% trans "Source" %}</t>: <a href="{{ idea.source }}">{{ idea.source }}</a></p>
    </div>
  </div>
    
  <div class="row" style="margin-top:2%">
    <div class="col-lg-2">
      <div class="caption" style="text-align:center">
	<a onclick="vote_idea_up({{ idea.id }})" class="btn btn-lg" style="font-size:2em;color:#66CC33;"><span class="glyphicon glyphicon-triangle-top" aria-hidden="true"></span></a>
	<div id="idea-rating" style="font-size:4em;color:#66CC33">{% get_rating idea %}</div>
	  <a onclick="vote_idea_down({{ idea.id }})" class="btn btn-lg" style="font-size:2em;color:red"><span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span></a>
      </div>
    </div>

    <div class="col-lg-8">
      <p>
	{{ idea.content|safe }}
      </p>
    </div>
  </div>
  
</div>

<div class="thumbnail">
  <h3 style="margin-left:5%">{% trans "Comments" %} ({{ idea.comments.count }})</h3>

  <t style="margin-left:6%;">{% trans "Sort by" %}:</t>
  <a href="">{% trans "Date" %}</a>
  <t> | </t>
  <a href="">{% trans "Rating" %}</a>

  <div class="comments" style="margin-top:2%;margin-left:5%">

    {% for comment in idea.comments.all %}

    <div class="comment-meta">
      <t class="text-muted" style="white-space:pre">   #{{ comment.id }} </t>
      <b style="margin-left:1%;">{{ comment.author }}</b>
      ·
      <t class="text-muted">{{ comment.created }}</t>
      <div style="float:right;margin-top:-0.3%">
	<t class="comment-rating" id="comment-{{ comment.id }}-rating" style="color:#66CC33">{% get_rating comment %}</t>
	<a onclick="vote_comment_up({{ comment.id }})" class="btn btn-sm" style="margin-top:-7%;margin-left:-10%;color:#66CC33"><span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span></a>
	<a onclick="vote_comment_down({{ comment.id }})" class="btn btn-sm" style="margin-left:-30%;margin-top:-2%;color:red"><span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span></a>
      </div>
    </div>

    <div class="comment-body" style="margin-left:1%;margin-top:1%">
      {{ comment.content|linebreaks }}

      {% if comment.replies.all %}
      <p style="margin-top:1%">
	<t style="color:#a77a23">{% trans "Replies" %}: </t>

	{% for reply in comment.replies.all %}
	<a href="">#{{ reply.reply.id }} </a>
	{% endfor %}
      </p>
      {% endif %}

      
      <p><button id="comment-reply" onclick="reply({{ comment.id }})">Reply</button></p>
      
    </div>
    
    {% endfor %}
    
  </div>

  <div id="new-comments-counter" class="comment-counter comment-counter-lg" onclick="loadComments({{ idea.id }},{{ idea.comments.all.count }})"></div>

  <h3 style="margin-left:25%;margin-top:4%;font-size:2em">{% trans "Post new comment" %}</h3>
  <form class="comment-form" method="POST">{% csrf_token %}
    {{ form.errors }}
    <p id="id_author_form"><b>{% trans "Your name" %}</b>: {{ form.author }}</p>
    <p>{{ form.content }}</p>
    <input type="hidden" id="reply_id" name="reply_id" />
    <input id="submit-btn" type="submit" value="Submit" />
  </form>
  
</div>


{% endblock content %}

{% block js %}
<script src="{% static 'js/rate.js' %}"></script>

<script type="text/javascript">
  $("#id_content").attr("placeholder", "{% trans 'Type text here ...' %}");
  $("#id_content").show();
  $("#new-comments-counter").hide();

  function reply(comment_id) {
      $("#reply_id").val(comment_id);
      $("#id_content").text("#"+comment_id+"\n");
      $("#id_content").show();
  };

   var ws = new WebSocket("ws://localhost:8888/comments/{{ idea.id }}");

  var new_message_text = "{% trans 'New comments' %}";
  var new_message_count = 0;
  
  ws.onmessage = function (message) {
      if (message.data == "NC"){
          new_message_count += 1;
          $("#new-comments-counter").text(new_message_text + ": " + new_message_count);
          $("#new-comments-counter").show();
      }
  };
  

  $("#comment-submit").click(function() {
      ws.send("NC")
  });

  function loadComments(idea_id,comment_count) {
      args = {
          idea:idea_id,
          count:comment_count,
          csrfmiddlewaretoken: '{{ csrf_token }}'
      };
      $.post("/load/comments/", args, function(data) {
                  new_message_count = 0;
                  var new_comment_count = comment_count + data.content.count;
                  $("#new-comments-counter").attr("onclick","loadComments("+idea_id+","+new_comment_count+")");
                  $("#new-comments-counter").hide();
                  for (var i=0; i < data.content.new_comments.length; i++){
		      var comment = data.content.new_comments[i];
		      var comment_content = comment.content;
	  	      var content_with_breaks = comment_content.replace(/\\r\\/g, "<br/>");
		      var replies_element = "";
		      var replies = data.content.replies[comment.id];
		      if (replies.length > 0) {
                          replies_element = "<p style='margin-top:1%'><b>{% trans 'Replies' %}: </b>";
                          for (var j=0; j < replies.length; j++) {
                              replies_element = replies_element+"<a href=''>#"+replies[j]+" </a>";
			  };
                          replies_element = replies_element+"</p>";
                      }
		      var comment_element = "<div class='comment-meta'><t class='text-muted' >#"+comment.id+"</t><b style='margin-left:1%;'>"+comment.author+"</b> · <t class='text-muted'>{% trans 'Just now' %}</t><div style='float:right;color:#66CC33;margin-top:-0.3%'>+10<a onclick='vote_idea_up({{ idea.id }})' class='btn btn-sm' style='margin-top:-5%;margin-left:-10%'><span class='glyphicon glyphicon-arrow-up' aria-hidden='true'></span></a><a onclick='vote_idea_up({{ idea.id }})' class='btn btn-sm' style='margin-left:-25%'><span class='glyphicon glyphicon-arrow-down' aria-hidden='true'></span></a></div></div><div class='comment-body' style='margin-left:1%;margin-top:1%'>"+content_with_breaks+replies_element+"<p><button onclick='reply("+comment.id+")' style='margin-left:90%'>Reply</button></p></div>";
                      $(".comments").append(comment_element);
		      $(".comments").show();
		      alert(replies.length);
                  }
      });
  };

</script>

{% endblock js %}
{% endwith %}
