{% extends "base.html" %}

{% load static %}
{% load simple_rate %}
{% load i18n %}

{% block css %}
<link href="{% static 'css/base.css' %}" rel="stylesheet" type="text/css">
{% endblock css %}

{% block content %}

<center>
 <a href="#new-idea" class="btn" role="button" data-toggle="modal"><h2>[ {% trans "add new idea" %} ]</h2></a>
</center>

<h2 class="category" style="margin-bottom:1%">{% trans "Popular" %}:</h2>

<div class="row">
  
  {% for idea in object_list %}

  <div class="col-lg-4">
    <div class="caption">
      <div id="idea-{{ idea.id }}-rating" class="rate-circle">{% get_rating idea %}</div>
    </div>
    <div class="thumbnail thumbnail-index-lg">
      <h3 style="text-align:center;margin-top:2%">{{ idea.title }}</h3>
      <p class="text-muted" style="margin-left:1%">{% trans "Published on" %} {{ idea.created }}</p>
      <p class="text-muted" style="margin-left:1%;margin-top:-4%">{% trans "Link" %}: <a href="">{{ idea.source }}</a></p>

      <div style="margin-left:6%;margin-right:6%">
	{{ idea.content|safe|truncatechars_html:500 }}
	<a href="" >Read More</a>
      </div>
  
      <div style="margin-left:65%;margin-top:2%">
	<t style="">
	  {{ idea.displayed }} <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
	</t>
	<a href="/idea/{{ idea.id }}" style="margin-left:10%" > 
	  {{ idea.comments.count }} <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
	</a>
      </div>
  
      <div style="margin-bottom:1%"></div>
  
    </div>
  </div>

  {% endfor %}

</div>

{% endblock content %}

{% block modals %}
<div class="modal fade" id="new-idea" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <form method="POST">{% csrf_token %}
	<div class="modal-body">
	  <center>
	    {{ form.title }}
	    <h2>What is your name?</h2>
	    {{ form.author }}
	    <h2>Have link to share?</h2>
	    {{ form.source }}
	    <h2>Want to leave your contacts?</h2>
	    <p>{{ form.email }}</p>
	    <p>{{ form.skype }}</p>
	    <p>{{ form.telegram }}</p>
	    {{ form.content }}
	  </center>
	</div>
	<input id="submit-btn" type="submit" style="margin-left:81%" value={% trans "Submit" %} />
      </form>
    </div>
  </div>
</div>
{% endblock modals %}

{% block js %}
<script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
<script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>

<script type="text/javascript">
  $("#idea_title").attr("placeholder","{% trans 'How you want to name your idea?' %}");
  $("#idea_author").attr("placeholder","{% trans 'Your name' %}");
  $("#idea_source").attr("placeholder","{% trans 'Idea\'s website' %}");
  $("#idea_email").attr("placeholder","{% trans 'Email Address' %}");
  $("#idea_skype").attr("placeholder","{% trans 'Skype' %}");
  $("#idea_telegram").attr("placeholder","{% trans 'Telegram' %}");
</script>

<script type="text/javascript">
 $(".rate-circle").each( function() {
    var score = $(this);
    if ( score.text() < 0) {
	score.css("background","red");
	score.show();
    }
  });

</script>

{% endblock js %}
